{% macro renderDefaultProps(name, props = []) %}
  {% if (prop.length !== 0) %}
    {{ name }}.defaultProps = {
      {% for prop in props %}
        {{ prop.key }}: {{ prop.value }},
      {% endfor %}
    }
  {% endif %}
{% endmacro %}