{% from "../macros/importLibs.njk" import renderLibImport %}
{% from "../macros/importComponents.njk" import renderCompImport %}
{% from "../macros/propTypes.njk" import renderPropTypes %}
{% from "../macros/defaultProps.njk" import renderDefaultProps%}

import React from 'react';
import { View, Text, StyleSheet } from 'react-native';
import PropTypes from 'prop-types';
{{ renderLibImport(libs) }}
{{ renderCompImport(components) }}

export default class {{ name }} extends React.PureComponent {
  constructor(props) {
    super(props);
    this.state = {}
  }

  render() {
    return (
      <View style={styles.container}>
        <Text>{{ name }}</Text>
      </View>
    );
  }
}

{{ renderPropTypes(name, props) }}

{{ renderDefaultProps(name, defaultProps) }}

const styles = StyleSheet.create({
  container: {},
})
