{% macro renderDefaultProps(name, props = []) %}
  {% if (props.length !== 0) %}
    {{ name }}.defaultProps = {
      {% for prop in props %}
        {{ prop.key }}: '{{ prop.value }}',
      {% endfor %}
    }
  {% endif %}
{% endmacro %}